@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", system-ui;
  font-weight: 300;
}

.background-texture  {
  opacity: 0.8;
  background-image:  radial-gradient(theme('colors.slate.200') 0.5px, transparent 0.5px), radial-gradient(theme('colors.slate.400') 0.5px, theme('colors.slate.50') 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
}


.card {
  transition: 0.2s;
  
  &:hover { 
    transform: scale(1.01);
  }
}

/* CONTENT RULES */

article {
  /* Header only rules */
  header {

    h1 {
      font-weight: 700;
      font-size: 2em;
    }
    p {
      font-weight: 300;
      font-size: 0.65em;
      color: theme('colors.slate.400');
      padding: 0 0;
    }
  }

  /* Rest of text */
  h1 {
    font-size: 1.5em; 
    font-weight: 700;
  }

  h2 {
    font-size: 1.25em; 
    font-weight: 700;
  }

  h3 {
    font-size: 1.125em; 
    font-weight: 700;
  }

  h4, h5, h6 {
    font-weight: 500;
    font-size: 1em;
  }

  p {
    padding: 1rem 0;
  }

  blockquote {
    color: theme('colors.slate.800');
    border-left: 0.125em solid theme('colors.slate.800');
    padding: 0 1em;
    background-color: theme('colors.slate.100')
  }

  table {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
    border-spacing: 0.25rem;
  }

  table thead tr th {
    border-bottom: 1px solid theme('colors.slate.800');
  }

  a {
    color: theme('colors.slate.500')
  }
}

